@import 'src/app/chatroom/variables';
@import 'src/scss/colors';

.container {
  overflow: auto;
  flex-grow: 1;
}

.room {
  padding: $sidebar-padding;
  cursor: pointer;

  &:not(.currentRoom):hover {
    background: darken($red, 15%);
  }
}

.currentRoom {
  color: lighten($red, 40%);
  background: darken($red, 30%);
}
