$header-height: 64px;

.menu {
  width: calc(100% - 200px);
  padding: 0;
  line-height: $header-height;
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
  height: auto;
  padding: 0 120px;
  line-height: auto;
  min-height: $header-height;

  h3 {
    line-height: normal;
    color: white;
    text-align: center;
    flex-grow: 1;
  }
}

.logo {
  position: absolute;
  left: 0;
  height: 50px;
  width: 50px;
  margin: auto 24px auto 20px;
  background-image: url('images/glowing.jpeg');
  background-size: cover;
}

.button {
  position: absolute;
  right: 0;
  margin: 0 20px;
}
