@import 'src/app/chatroom/variables';
@import 'src/scss/colors';

$padding: 20px;

.container {
  display: flex;
  flex-direction: column;
  height: calc(100% - #{$header-height});
  width: 100%;
}

.messages {
  position: relative;
  flex-grow: 1;
  background: $light-background;
  padding: $padding;
  overflow: auto;
}

.newMessage {
  display: flex;
  flex-shrink: 0;
  padding: $padding;
  box-shadow: 0 1px 7px #666;
}

.input {
  flex-grow: 1;
  width: 100%;
}

.button {
  width: 60px;
  margin-left: $padding;
}
