@import 'src/app/chatroom/variables';

.container {
  min-height: $user-info-height;
  padding: 0 $sidebar-padding $sidebar-padding $sidebar-padding;

  h3 {
    display: block;
  }

  p {
    display: block;
    font-size: 14px;
    margin-top: 10px;
  }
}
